body {
  font-family: "Helvetica", FontAwesome, sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #4b4b4b;
}

nav div.container a {
  text-decoration: none;
  color: white;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav div.container a:hover {
  color: #b7fafa;
}

nav div.container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5vh 0;
}

nav div.container div i {
  font-size: 2rem;
  margin: 0 10px 0 0;
}

#header-section {
  padding: 0 0 5vh 0;
}

#header-section h1 {
  font-size: 3rem;
  margin: 5vh 0 0 0;
}

#header-section h5 {
  margin: 0 0 25px 0;
}

@media only screen and (max-width: 575px) {
  #header-section h1 {
    font-size: 2.5rem;
    margin: 2vh 0 0 0;
  }
  #header-section h5 {
    font-size: 0.7rem;
    margin: 0 0 15px 0;
  }
}

hr {
  height: 3px;
  background-color: rgba(185, 185, 185, 0.329);
  border: none;
  margin: 0;
}

#search-section {
  background-color: whitesmoke;
}

#search-section #search-inputs-div {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 575px) {
  #search-section #search-inputs-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-width: 575px) {
  #search-section #search-inputs-div #search-box-div form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

#search-section #search-inputs-div #search-box-div input,
#search-section #search-inputs-div #search-box-div button {
  font-family: "Helvetica", FontAwesome, sans-serif;
  border-radius: 5px;
  border: hidden;
  -webkit-box-shadow: 2px 2px 15px 3px #00000007;
          box-shadow: 2px 2px 15px 3px #00000007;
  padding: 15px 25px;
}

@media only screen and (max-width: 575px) {
  #search-section #search-inputs-div #search-box-div input,
  #search-section #search-inputs-div #search-box-div button {
    width: 85%;
  }
}

#search-section #search-inputs-div #search-box-div button {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media only screen and (max-width: 575px) {
  #search-section #search-inputs-div #search-box-div button {
    width: 50%;
  }
}

#search-section #search-inputs-div #search-box-div button:hover {
  background-color: #b7fafa;
}

#search-section #search-inputs-div #custom-select {
  width: 200px;
  -webkit-box-shadow: 2px 2px 15px 3px #00000007;
          box-shadow: 2px 2px 15px 3px #00000007;
  cursor: pointer;
  font-family: "Helvetica", FontAwesome, sans-serif;
}

@media only screen and (max-width: 575px) {
  #search-section #search-inputs-div #custom-select {
    margin: 0 auto;
  }
}

#search-section #search-inputs-div #custom-select #custom-select-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
  padding: 15px 25px;
  background-color: white;
  border-radius: 5px;
  color: gray;
}

#search-section #search-inputs-div #custom-select #custom-select-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  margin-top: 3px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: absolute;
}

#search-section #search-inputs-div #custom-select #custom-select-dropdown div {
  padding: 5px 25px;
}

#search-section #search-inputs-div #custom-select #custom-select-dropdown div .custom-select-dropdown-option {
  font-size: 0.8rem;
}

#search-section #search-inputs-div #custom-select #custom-select-dropdown div:hover {
  background-color: rgba(145, 145, 145, 0.329);
}

#results-section {
  padding: 5vh 0 10vh 0;
}

#results-section #results-display-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media only screen and (max-width: 575px) {
  #results-section #results-display-div {
    gap: 15px;
  }
}

#results-section #results-display-div a {
  text-decoration: none;
  color: #353535;
}

#results-section #results-display-div .media-thumb {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 2px 2px 15px 3px #00000017;
          box-shadow: 2px 2px 15px 3px #00000017;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media only screen and (max-width: 575px) {
  #results-section #results-display-div .media-thumb {
    width: 125px;
    height: 200px;
  }
}

#results-section #results-display-div .media-thumb:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#results-section #results-display-div .media-thumb:hover .media-heading-div {
  height: 25%;
}

#results-section #results-display-div .media-thumb .media-heading-div {
  width: 100%;
  height: 0%;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.582);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

#results-section #results-display-div .media-thumb .media-heading-div h3 {
  font-size: 0.9rem;
}

#results-section .pagination-nav-div {
  margin: 5vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#results-section .pagination-nav-div button {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px 35px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 7px 3px #00000017;
          box-shadow: 2px 2px 7px 3px #00000017;
  border: hidden;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#results-section .pagination-nav-div button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #00000017;
}

.back-bttn {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px 35px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 7px 3px #00000017;
          box-shadow: 2px 2px 7px 3px #00000017;
  border: hidden;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.back-bttn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #00000017;
}

.queue-add-bttn {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px 20px;
  background-color: #e2fafa;
  -webkit-box-shadow: 2px 2px 7px 3px #00000017;
          box-shadow: 2px 2px 7px 3px #00000017;
  border: hidden;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.queue-add-bttn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #b7fafa;
}

#media-profile-section {
  background-color: whitesmoke;
  padding: 5vh 0;
}

#media-profile-section .profile-content {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

@media only screen and (max-width: 575px) {
  #media-profile-section .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}

#media-profile-section .profile-content .data-label {
  font-weight: bold;
}

#media-profile-section .profile-content .media-poster-div {
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#media-profile-section .profile-content .media-poster-div img {
  height: 50vh;
  border-radius: 10px;
}

@media only screen and (max-width: 575px) {
  #media-profile-section .profile-content .media-poster-div {
    width: 100%;
  }
  #media-profile-section .profile-content .media-poster-div img {
    height: 30vh;
  }
}

#media-profile-section .profile-content .profile-text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media only screen and (max-width: 575px) {
  #media-profile-section .profile-content .profile-text-div {
    width: 100%;
  }
}

#media-profile-section .profile-content .profile-text-div .profile-stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

@media only screen and (max-width: 575px) {
  #media-profile-section .profile-content .profile-text-div .profile-stats-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}

#user-profile-section {
  padding: 5vh 0 10vh 0;
}

#user-profile-section #queue-display-div {
  margin: 2vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media only screen and (max-width: 575px) {
  #user-profile-section #queue-display-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#user-profile-section #queue-display-div a {
  text-decoration: none;
  color: #353535;
}

#user-profile-section #queue-display-div .media-thumb {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 2px 2px 15px 3px #00000017;
          box-shadow: 2px 2px 15px 3px #00000017;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media only screen and (max-width: 575px) {
  #user-profile-section #queue-display-div .media-thumb {
    width: 250px;
  }
}

#user-profile-section #queue-display-div .media-thumb:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#user-profile-section #queue-display-div .media-thumb:hover .media-heading-div {
  height: 25%;
}

#user-profile-section #queue-display-div .media-thumb .media-heading-div {
  width: 100%;
  height: 0%;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.582);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

#user-profile-section #queue-display-div .media-thumb .media-heading-div h3 {
  font-size: 0.9rem;
}
/*# sourceMappingURL=App.css.map */