body {
  font-family: "Helvetica", FontAwesome, sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: rgb(75, 75, 75);

  div.container {
    a {
      text-decoration: none;
      color: white;
      transition: 500ms;

      &:hover {
        color: rgb(183, 250, 250);
      }
    }

    div {
      display: flex;
      justify-content: flex-end;
      padding: 1.5vh 0;

      i {
        font-size: 2rem;
        margin: 0 10px 0 0;
      }
    }
  }
}

#header-section {
  padding: 0 0 5vh 0;
  h1 {
    font-size: 3rem;
    margin: 5vh 0 0 0;
  }

  h5 {
    margin: 0 0 25px 0;
  }

  @media only screen and (max-width: 575px) {
    h1 {
      font-size: 2.5rem;
      margin: 2vh 0 0 0;
    }

    h5 {
      font-size: 0.7rem;
      margin: 0 0 15px 0;
    }
  }
}

hr {
  height: 3px;
  background-color: rgba(185, 185, 185, 0.329);
  border: none;
  margin: 0;
}

#search-section {
  background-color: rgb(245, 245, 245);

  #search-inputs-div {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 575px) {
      flex-direction: column;
      gap: 10px;
    }

    #search-box-div {
      @media only screen and (max-width: 575px) {
        form {
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
      }

      input,
      button {
        font-family: "Helvetica", FontAwesome, sans-serif;
        border-radius: 5px;
        border: hidden;
        box-shadow: 2px 2px 15px 3px #00000007;
        padding: 15px 25px;

        @media only screen and (max-width: 575px) {
          width: 85%;
        }
      }

      button {
        cursor: pointer;
        background-color: white;
        transition: 300ms;

        @media only screen and (max-width: 575px) {
          width: 50%;
        }

        &:hover {
          background-color: rgb(183, 250, 250);
        }
      }
    }

    #custom-select {
      margin: 0 auto;
      width: 200px;
      box-shadow: 2px 2px 15px 3px #00000007;
      cursor: pointer;
      font-family: "Helvetica", FontAwesome, sans-serif;

      #custom-select-header {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        padding: 15px 25px;
        background-color: white;
        border-radius: 5px;
        color: gray;
      }

      #custom-select-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-top: 3px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        transition: 300ms;
        position: absolute;

        div {
          padding: 5px 25px;
          .custom-select-dropdown-option {
            font-size: 0.8rem;
          }

          &:hover {
            background-color: rgba(145, 145, 145, 0.329);
          }
        }
      }
    }
  }
}

#results-section {
  padding: 5vh 0 10vh 0;
  #results-display-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;

    @media only screen and (max-width: 575px) {
      // justify-content: space-between;
      gap: 15px;
    }

    a {
      text-decoration: none;
      color: rgb(53, 53, 53);
    }

    .media-thumb {
      width: 200px;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 2px 15px 3px #00000017;
      transition: 500ms;

      @media only screen and (max-width: 575px) {
        width: 125px;
        height: 200px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);

        .media-heading-div {
          height: 25%;
        }
      }

      .media-heading-div {
        width: 100%;
        height: 0%;
        padding: 0 15px;
        background-color: rgba(240, 248, 255, 0.774);
        backdrop-filter: blur(5px);
        transition: 300ms;

        h3 {
          font-size: 0.9rem;
        }
      }
    }
  }

  .pagination-nav-div {
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: center;
    button {
      cursor: pointer;
      font-size: 0.8rem;
      padding: 10px 35px;
      background-color: white;
      box-shadow: 2px 2px 7px 3px #00000017;
      border: hidden;
      border-radius: 5px;
      transition: 300ms;

      &:hover {
        box-shadow: none;
        background-color: #00000017;
      }
    }
  }
}

.back-bttn {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px 35px;
  background-color: white;
  box-shadow: 2px 2px 7px 3px #00000017;
  border: hidden;
  border-radius: 5px;
  transition: 300ms;

  &:hover {
    box-shadow: none;
    background-color: #00000017;
  }
}

#media-profile-section {
  background-color: rgb(245, 245, 245);
  padding: 5vh 0;

  .profile-content {
    margin: 10px 0;
    display: flex;
    gap: 50px;

    @media only screen and (max-width: 575px) {
      flex-direction: column;
      gap: 25px;
    }

    .data-label {
      font-weight: bold;
    }

    .media-poster-div {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        border-radius: 10px;
      }

      @media only screen and (max-width: 575px) {
        width: 100%;

        img {
          height: 30vh;
        }
      }
    }

    .profile-text-div {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media only screen and (max-width: 575px) {
        width: 100%;
      }

      .profile-stats-div {
        display: flex;
        gap: 50px;

        @media only screen and (max-width: 575px) {
          flex-direction: column;
          gap: 0px;
        }
      }
    }
  }
}

#user-profile-section {
  padding: 5vh 0 10vh 0;
  #queue-display-div {
    margin: 2vh 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;

    @media only screen and (max-width: 575px) {
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: rgb(53, 53, 53);
    }

    .media-thumb {
      width: 200px;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 2px 15px 3px #00000017;
      transition: 500ms;

      @media only screen and (max-width: 575px) {
        width: 250px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);

        .media-heading-div {
          height: 25%;
        }
      }

      .media-heading-div {
        width: 100%;
        height: 0%;
        padding: 0 15px;
        background-color: rgba(240, 248, 255, 0.774);
        backdrop-filter: blur(5px);
        transition: 300ms;

        h3 {
          font-size: 0.9rem;
        }
      }
    }
  }
}
